

<div class="media">
    <div class="media-left media-middle">
        <div class="media-object">
            <span class="glyphicon glyphicon-comment"></span>
        </div>
    </div>
    <div class="media-body">
        <h4 class="media-heading">Middle aligned media</h4>
        <p>Consectetur adipiscing elit fusce vel.</p>
    </div>
</div>
